*~

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
.env
.sass-cache
env/
bin/
build/
bnk/
develop-eggs/
dist/
eggs/
include/
info/
local/
lib/
lib64/
parts/
sdist/
var/
venv/
py3.7/
*.bnk
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
pip-selfcheck.json

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Visual Studio Code
*.code-workspace
