# Specifies only dev-specific requirements
# But imports the common ones too
-r requirements.txt

# https://pypi.org/project/pre-commit/
cfgv==3.3.1
distlib==0.3.6
filelock==3.8.0
identify==2.5.5
nodeenv==1.7.0
platformdirs==2.5.2
pre-commit==2.20.0
PyYAML==6.0
toml==0.10.2
virtualenv==20.16.5

# https://pypi.org/project/pyupgrade/
pyupgrade==2.37.3
tokenize-rt==4.2.1

# https://pypi.org/project/sphinx-lint/
sphinx-lint==0.6.1
