# Specifies only dev-specific requirements
# But imports the common ones too
-r requirements.txt

# https://pypi.org/project/pre-commit/
cfgv==3.4.0
distlib==0.3.9
filelock==3.17.0
identify==2.6.8
nodeenv==1.9.1
platformdirs==4.3.6
pre-commit==4.1.0
virtualenv==20.29.2

# https://pypi.org/project/pyupgrade/
pyupgrade==3.19.1
tokenize-rt==6.1.0

# https://pypi.org/project/sphinx-lint/
polib==1.2.0
regex==2024.11.6
sphinx-lint==1.0.0
