<!-- https://reincubate.com/support/ricloud/overview/ -->
<hr/>
<section class="section">
    <div class="container">
        <p>Me llamo, Leonardo J. Caballero G.</p>
        <p>Para preguntas: <a href="mailto:leonardocaballero@gmail.com?subject=[SOLICITUD] Asesoría en programación con Python &body=Hola Sr. Leonardo 🙂, vi tu página web para aprender a programar Python y quisiera conocer más de tus servicios de asesoría para programar en el lenguaje." target="_self" title="Escríbeme un correo"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Escríbeme un correo</a></p>
        <address>
            <!-- Verin Antarayin St. 160/6<br/> -->
            Madrid, España<br/>
            <!-- <p style="font-size:22px"><a href="tel:00504445556677" target="_self" title="Haz una llamada telefónica"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;+58(412) 473-53-76</a></p> -->
        </address>
        <p>
            <a href="https://linkedin.com/in/leonardojcaballerog" target="_blank" title="Mi Linkedin"><img src="_static/images/linkedin_me.png" alt="Mi Linkedin"/>
        </p>
        <p>
            <a href="https://join.skype.com/invite/ghjvODI4IJlZ" target="_blank" title="Conversamos en Skype"><img src="_static/images/skype_me.png" alt="Llámame via Skype"/></a>
        </p>
        <p>
            <a href="https://t.me/leonardojcaballerog" target="_blank" title="Conversamos en Telegram"><img src="_static/images/telegram_me.png" alt="Conversamos en Telegram"/>
        </p>
        <!-- <p><a href="skype:macaguax?call" target="_blank" title="Llámame via Skype"><img src="_static/images/skype_me.png" alt="Llámame via Skype"/></a></p> -->
        <!-- <p>
            <a href="https://wa.me/00504445556677?text=Hola%20Sr.%20Leonardo%20🙂,%20vi%20tu%20pagina%20web%20de%20aprender%20a%20programar%20Python%20y%20quisiera%20conocer%20mas%20de%20tus%20servicios%20de%20asesoría%20para%20programar%20en%20el%20lenguaje" target="_blank" title="Conversamos en WhatsApp"><img src="_static/images/whatsapp_me.png" alt="Conversamos en WhatsApp"/>
        </p> -->
    </div>
</section>
