<div class="title">
  <h1 class="card-title"><i class="fa fa-power-off"></i>&nbsp;Aprende Python desde el nivel más básico</h1>
</div>

<div class="card card-1">
  <div class="top" style="background-color: #2f6694;">
    <a href="https://entrenamiento-python-basico.readthedocs.io/es/3/" target="_self" title="Materiales del entrenamiento de programación en Python 3 - Nivel básico">
      <img src="_static/images/python_37.png" alt="Materiales del entrenamiento de programación en Python 3 - Nivel básico"/>
    </a>
  </div>
  <div class="bottom">
    <p><a href="https://entrenamiento-python-basico.readthedocs.io/es/3/" target="_self" title="Materiales del entrenamiento de programación en Python 3 - Nivel básico">Python 3 - Nivel básico</p>
  </div>
</div>

<div class="card card-1">
  <div class="top" style="background-color: #2f6694;">
    <a href="https://entrenamiento-python-intermedio.readthedocs.io/es/latest/" target="_self" title="Materiales del entrenamiento de programación en Python 3 - Nivel intermedio">
      <img src="_static/images/python_37.png" alt="Materiales del entrenamiento de programación en Python 3 - Nivel intermedio"/>
    </a>
  </div>
  <div class="bottom">
    <p><a href="https://entrenamiento-python-intermedio.readthedocs.io/es/latest/" target="_self" title="Materiales del entrenamiento de programación en Python 3 - Nivel intermedio">Python 3 - Nivel intermedio</p>
  </div>
</div>

<div class="card card-1">
  <div class="top" style="background-color: #2f6694;">
    <a href="https://entrenamiento-python-avanzado.readthedocs.io/es/latest/" target="_self" title="Materiales del entrenamiento de programación en Python 3 - Nivel avanzado">
      <img src="_static/images/python_37.png" alt="Materiales del entrenamiento de programación en Python 3 - Nivel avanzado"/>
    </a>
  </div>
  <div class="bottom">
    <p><a href="https://entrenamiento-python-avanzado.readthedocs.io/es/latest/" target="_self" title="Materiales del entrenamiento de programación en Python 3 - Nivel avanzado">Python 3 - Nivel avanzado</p>
  </div>
</div>

<div class="card card-1">
  <div class="top" style="background-color: #2f6694;">
    <a href="https://entrenamiento-frameworks-web-python.readthedocs.io/es/latest/" target="_self" title="Materiales del entrenamiento de Frameworks de Desarrollo Web en Python 3">
      <img src="_static/images/python_37.png" alt="Materiales del entrenamiento de Frameworks de Desarrollo Web en Python 3"/>
    </a>
  </div>
  <div class="bottom">
    <p><a href="https://entrenamiento-frameworks-web-python.readthedocs.io/es/latest/" target="_self" title="Materiales del entrenamiento de Frameworks de Desarrollo Web en Python 3">Desarrollo Web en Python 3</p>
  </div>
</div>

<div class="card card-1">
  <div class="top" style="background-color: #2f6694;">
    <a href="https://entrenamiento-data-scientist-python.readthedocs.io/es/latest/" target="_self" title="Materiales del entrenamiento de Data Scientist en Python 3">
      <img src="_static/images/python_37.png" alt="Materiales del entrenamiento de Data Scientist en Python 3"/>
    </a>
  </div>
  <div class="bottom">
    <p><a href="https://entrenamiento-data-scientist-python.readthedocs.io/es/latest/" target="_self" title="Materiales del entrenamiento de Data Scientist en Python 3">Data Scientist en Python 3</p>
  </div>
</div>

<div class="card card-1">
  <div class="top" style="background-color: #444;">
    <a href="https://entrenamiento-python-basico.readthedocs.io/es/2.7/" target="_self" title="Materiales del entrenamiento de programación en Python 2 - Nivel básico">
      <img src="_static/images/python_27.png" alt="Materiales del entrenamiento de programación en Python 2 - Nivel básico"/>
    </a>
  </div>
  <div class="bottom">
    <p><a href="https://entrenamiento-python-basico.readthedocs.io/es/2.7/" target="_self" title="Materiales del entrenamiento de programación en Python 2 - Nivel básico">Python 2.7 - Versión Legado</a></p>
  </div>
</div>
