<!-- https://reincubate.com/support/ricloud/overview/ -->
<hr/>
<section class="section is-paddingless-bottom has-border-top has-text-centered">
	<div class="container">
		<a name="contact-us" class="anchor"></a>
		<h2 class="title">¿Cómo puedo ayudar?</h2>
		<p class="subtitle has-m-b-2">¡Mi soporte está aquí para ayudar!</p>
		<p class="has-m-b">Mi horario de oficina es de lunes a sábado, de 9 AM a 5 PM. <a href="https://time.is/es/GMT-4" target="_blank" title="GMT-4 - Caracas, Venezuela">GMT-4 - Caracas, Venezuela</a>.</p>
		<p>La hora aquí es actualmente <span class="js-time-now" id="time">7:35 PM</span> GMT-4.</p>
		<p class="has-m-b">Mi objetivo es responder a todos los mensajes dentro de un día hábil.</p>
		<div class="has-m-b-3">
			<a href="../acerca_de.html#contactenos" target="_self" title="Contáctenos en la sección de soporte">Contáctenos en la sección de soporte</a>
		</div>
		<figure class="image has-margin-auto" style="max-width:445px;max-height:206px">
			<img width="445px" height="206px" alt="Contrata mi increíble soporte profesional" title="Contrata mi increíble soporte profesional" src="../_static/images/soporte_profesional_web.png">
		</figure>
		<br/>
	</div>
</section>
