{# BEGIN: Enable Google Analytics tracking in the documentation. #}
    {#
    <!-- Google tag (gtag.js) -->
    <!--
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-W3KQBB73N0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-W3KQBB73N0'); // Reemplaza con tu ID de medición
    </script>
    -->
    #}
{# END: Enable Google Analytics tracking in the documentation. #}
